body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  background-image: url('http://www.baltana.com/files/wallpapers-1/Blue-Shine-Wallpaper-00366.jpg');
  font-family: sans-serif;
  color: #4d4d4d;
  font-size: 20px;
  width: 300px;

  @media (min-width: 768px) { width: 750px; }
  @media (min-width: 992px) { width: 970px; }
  @media (min-width: 1200px) { width: 1140px; }
}

.App-header {
  color: #C7CDD2;
}

.App-album {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

/* .App-main {
  padding: 20px 0;
  text-align: center;
} */

.App-listItem {
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted grey;
}



.App-ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 1px;
}

.App-ul--menu {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.App-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.Button {
  padding: 5px 15px;
  font-size: 1em;
  margin: 10px 10px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background-color: #f88017
}

.Button:hover {
  background-color: #fff;
  color: #4d4d4d;
}

/* .Button--orange {
  background-color: #f88017;
  color: #fff;
} */

/* .Button--orange:hover {
  background-color: #fff;
  color: #4d4d4d;
} */
